<!DOCTYPE html>

<!--個人網站-->
<!--資管二A 411016864 黃品芸-->

<html lang="zh-TW">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>職涯檢測結果</title>
    <style type="text/css">
        * { margin-left:auto; margin-right:auto;}
    </style>


</head>

<body bgcolor="#CF9E9E" text="#FFFFFF">
<font size = "5">
<a href="https://yuncareer1.vercel.app/">Menu</a>
    <h1>我的職涯檢測結果<h1>
    <td>
    <tr>
        <img src="static/ucan1.jpg" width="236" height="465">
    </tr>
    <tr>
        <img src="static/ucan2.jpg" width="270" height="267"><br>
    </tr>
</td>
<td>
    <tr>
        <img src="static/career2.jpg" width="414" height="200">
    </tr>
</td>
</font>

</html>
