<!DOCTYPE html>

<!--個人網站-->
<!--資管二A 411016864 黃品芸-->

<html lang="zh-TW">

<html>
<head>
    <meta charset="utf-8">
    <title>黃品芸的自我介紹</title>
</head>

<body bgcolor="#CF9E9E" text="#FFFFFF">
    <font size = "5">
<a href="https://yuncareer1.vercel.app/">Menu</a>
    <h1>黃品芸(Pin-Yun Hunag)<h1>
    <h2>靜宜大學 / 資訊管理學系<h2>
    <img src='static/me.jpg' width="290" height="360" align="middle"></img>
    <table border="0">
    <font size="3">
    <tr>
    <td><h4>About Me<h4>
    
    <font size="5">
        系級:資訊管理學系大二A班<br>
        學號:411016864<br>
        <a href="mailto:s1101686@gm.pu.edu.tw">E-mail:s1101686@gm.pu.edu.tw.com</a><br>
    </font>
    
    <td><h4>喜歡的一段話</h4>
        <font size="5">
        不幸往往是來自於比較，而幸福也是來自於比較。
    </font>
    </td>
    <td>學習影片<br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CLUPkcLQm64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </td>
    </table>

    

</html>
