<!DOCTYPE html>

<!--個人網站-->
<!--資管二A 411016864 黃品芸-->

<html lang="zh-TW">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的求職自傳</title>
    <style type="text/css">
        * { margin-left:auto; margin-right:auto;}
    </style>


</head>

<body bgcolor="#CF9E9E" text="#FFFFFF">
<font size = "5">
<a href="https://yuncareer1.vercel.app/">Menu</a>
    <h1>我的求職自傳<h1>
    <td>
    <tr>
        <img src="static/me1.jpg" width="358" height="716">
    </tr>
    <tr>
        <img src="static/me2.jpg" width="360" height="286">
    </tr>
</font>

</html>
