<!DOCTYPE html>

<!--個人網站-->
<!--資管二A 411016864 黃品芸-->

<html lang="zh-TW">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIS工作介紹</title>
    <style type="text/css">
        * { margin-left:auto; margin-right:auto;}
    </style>


</head>

<body bgcolor="#CF9E9E" text="#FFFFFF">
<font size = "5">
<a href="https://yuncareer1.vercel.app/">Menu</a>
    <h1>MIS工作介紹<h1>
    <h2>馬克先生食品企業股份有限公司<h2>
    <h3>職缺:資訊助理<h3>
        <tr>
        <td>
        <ul>
            <li>工作內容:
            <ol>
                <li>協助資訊系統操作以及設備管理</li>
                <li>協助網路設備以及各項操作設定</li>
                <li>電腦軟硬體配置與障礙排除</li>
                <li>伺服器、網路設備、機房維護協助</li>
                <li>主管交辦事項</li>
            </ol>
        </tr>
    <tr>
        <img src="static/career1">
    </tr>
    <tr>
        <img src="static/career2">
    </tr>
</font>

</html>
